/* Body Section */
body {
  font-family: "Sora", sans-serif;
  margin: 0;
}

/* Nav  */
nav {
  display: flex;
  /* justify-content: space-between; */
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 500px;
  justify-content: space-between;
  font-size: 20px;
  /* float: right; */
}

li {
  text-decoration: none;
}

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }
}
