/* Body Section */
body {
  font-family: "Sora", sans-serif;
  margin: 0;
}

/* About me and Projects Section */
section {
  background-color: white;
}

/* Hero Section */
.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

/* Footer Section With Contact Me Info */
footer {
  background-color: #1c1d25;
  color: white;
  text-align: center;
  padding: 80px;
}
/* Nav  */
nav {
  display: flex;
  /* justify-content: space-between; */
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 500px;
  justify-content: space-between;
  font-size: 20px;
  /* float: right; */
}

li {
  text-decoration: none;
}

/* Text Elements */
h1 {
  font-size: 70px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

/* Hero Section */
.hero-section {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}
/* Button Section */
.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: greenyellow;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  margin-top: 20px;
}

.button:hover {
  background-color: aqua;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}
.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  margin-left: 20px;
}

.second-sub-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  margin-left: 50px;
}
/* Picture in About me */
.profileImage {
  width: 300px;
  min-height: 10px;
  border-radius: 800px;
}

/* Picture container in about me */
.profileImage-container {
  display: flex;
  align-items: center;
  background-color: turquoise;
  border-top-left-radius: 80px;
  border-top-right-radius: 800px;
  border-bottom-right-radius: 800px;
  border-bottom-left-radius: 90px;
}

/* Project cards */
.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px;
  background-color: white;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Project Images */
.project-image {
  margin-top: 25px;
  width: 250px;
}

/* Horizontal line break inbetween image and text in about me */
hr {
  margin-left: 20px;
  margin-right: 20px;
}

/* Links to Projects and CV */
.project-link {
  text-decoration: none;
  color: gray;
}

.cv-link {
  text-decoration: none;
  color: aqua;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 480px) {
  .nav {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }
}
